.wp-block-indieblocks-facepile-content ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.wp-block-indieblocks-facepile-content li {
	display: inline-block;
	margin-inline-end: -16px;
	position: relative;
}

.wp-block-indieblocks-facepile-content li:hover {
	margin-inline-end: -2px;
}

.wp-block-indieblocks-facepile-content a {
	display: block;
	position: relative;
}

.wp-block-indieblocks-facepile-content .avatar {
	display: block;
	border-radius: 50%;
}

.wp-block-indieblocks-facepile-content .icon {
	display: block;
	width: 24px;
	height: 24px;
	position: absolute;
	right: -4px;
	bottom: -4px;
}
