.wp-block-indieblocks-link-preview {
	float: none !important;
	box-sizing: border-box;
	max-width: 550px !important;
	overflow: hidden;
}

.wp-block-indieblocks-link-preview .indieblocks-card {
	display: flex;
	height: 90px;
	line-height: 1.4;
}

.wp-block-indieblocks-link-preview .indieblocks-card-thumbnail {
	background: #eee;
	flex-shrink: 0;
	width: 90px;
}

.wp-block-indieblocks-link-preview .indieblocks-card-thumbnail img {
	display: block;
	object-fit: cover;
}

.wp-block-indieblocks-link-preview .indieblocks-card-body {
	box-sizing: border-box;
	padding: 0.67em;
}

.wp-block-indieblocks-link-preview .indieblocks-card-body strong {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.wp-block-indieblocks-link-preview .indieblocks-card-body small {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
